<div class="margin-top">
  <div class="row">
    <div class="col s2 offset-s3">
      <img class="profile-image" src="<%= @user.photo_url %>">
    </div>
    <div class="col s6">
      <h4>Hi, I'm <%= @user.name %>!</h4>
      <!-- TODO: Format month, year -->
      <h5>Member since <%= @user.created_at %></h5>
      <p><%= @user.description %></p>
      <p><%= @user.email %></p>
    </div>
  </div>
</div>
