<div class="row margin">
  <div class="col s2 offset-s3">
    <img class="profile-image" src="<%= @user.photo_url %>">
  </div>
  <div class="col s6 user-details">
    <h3 class="capitalize">Hi, I'm <%= @user.name.split(' ')[0].capitalize %></h3>
    <!-- TODO: Format month, year -->
    <h5>Member since <%= @user.created_at.strftime('%B %Y') %></h5>
    <p><%= @user.description %></p>
    <p><%= @user.email %></p>
    <% if logged_in? %>
    <p>
      <a class="waves-effect waves-light btn" href="/messages/<%= @user.id %>">Message</a>
    </p>
    <% end %>
  </div>
</div>
<div class="row margin">
  <div class="col s6 offset-s3">
    <h2>Kitchens</h2>
    <% @user.kitchens.each do |kitchen| %>
    <div class="kitchen card">
      <h3><a href="/kitchens/<%= kitchen.id %>"><%= kitchen.title %></a></h3>
      <div><%= "#{kitchen.suburb}, #{kitchen.state} - #{kitchen.country}" %></div>
      <p><%= kitchen.description %></p>
      <div>$<%= "%.2f" % kitchen.fee %></div>
    </div>
    <% end %>
  </div>
</div>
