<div class="row">
  <div class="col s4 offset-s4 margin">
    <h2>Update kitchen details</h2>
  </div>
</div>


<form id="kitchen-form">

  <input id="kitchen-id" value="<%= @kitchen.id %>" type="hidden">

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="title">Title</label>
      <input id="title" value="<%= @kitchen.title %>" name="title" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="address">Address</label>
      <input id="address" value="<%= @kitchen.address %>" name="address" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="suburb">Suburb</label>
      <input id="suburb" value="<%= @kitchen.suburb %>" name="suburb" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="postcode">Postcode</label>
      <input id="postcode" value="<%= @kitchen.postcode %>" name="postcode" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="state">State</label>
      <input id="state" value="<%= @kitchen.state %>" name="state" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="country">Country</label>
      <input id="country" value="<%= @kitchen.country %>" name="country" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="description">Description</label>
      <input id="description" value="<%= @kitchen.description %>" name="description" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="image-url">Image URL</label>
      <input id="image-url" value="<%= @kitchen_photo.image_url %>" name="image_url" type="text">
      <img src="<%= @kitchen_photo.image_url %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="capacity">Capacity</label>
      <input id="capacity" value="<%= @kitchen.capacity %>" name="capacity" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <label for="fee">Fee</label>
      <input id="fee" value="<%= @kitchen.fee %>" name="fee" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <button class="btn waves-effect waves-light">Save changes</button>
    </div>
  </div>
</form>


<script>
  $('#kitchen-form').submit(function(e) {
    e.preventDefault();
    var id = $('#kitchen-id').val();

    $.ajax({
      url: '/api/kitchens/' + id,
      method: 'patch',
      data: {
        title: $('#title').val(),
        address: $('#address').val(),
        suburb: $('#suburb').val(),
        postcode: $('#postcode').val(),
        state: $('#state').val(),
        country: $('#country').val(),
        description: $('#description').val(),
        image_url: $('#image_url').val(),
        capacity: $('#capacity').val(),
        fee: $('#fee').val(),
        authenticity_token: '<%= form_authenticity_token %>',
      }
    }).done(function(res) {
      // Redirect to kitchen details on success
      if (res.success) {
        window.location = '/kitchens/' + res.result;
      }
      else {
        // TODO: Display errors
        console.log(res);
      }
    });
  });
</script>
