<div class="kitchen-image">
  <img src="http://hbu.h-cdn.co/assets/16/23/1600x800/landscape-1465239399-industrial-kitchen.jpg">
</div>

<section id="kitchen-details">

  <h3><%= @kitchen.title %></h3>
  <div>
    <%= "#{@kitchen.address}, #{@kitchen.state} - #{@kitchen.country}" %>
  </div>

  <h3>About</h3>
  <p><%= @kitchen.description %></p>

  <h3>The Kitchen</h3>
  <span class="capacity">Capacity: <%= @kitchen.capacity %></span>
  <span class="fee">Price: <%= @kitchen.fee %></span>
</section>

<div>
  <a href="/kitchens/<%= @kitchen.id %>/edit">Edit</a>
</div>

<section id="booking-form">

</section>
