<h1><%= @kitchen.title %></h1>
<div>
  <%= "#{@kitchen.address}, #{@kitchen.state} - #{@kitchen.country}" %>
</div>

<section id="kitchen-details">
  <span class="capacity">Capacity: <%= @kitchen.capacity %></span>
  <span class="fee">Fee: <%= @kitchen.fee %></span>
  <p>
    <%= @kitchen.description %>
  </p>
</section>

<section id="booking-form">
  
</section>
