<!DOCTYPE html>
<html>
  <head>
    <title>Use My Kitchen</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Compiled and minified JavaScript -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfCWcPbEpnUQeSmO0w1e02F33iBy614JM">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>

  <body>

    <nav class="orange">
      <div class="nav-wrapper">
        <a href="/">
          <svg viewBox="0 0 249.308 75.734">
            <path d="M84.986 4.607c-4.44 0-8.575 1.303-12.05 3.538C68.043 3.123 61.212 0 53.648 0 46.08 0 39.25 3.123 34.36 8.146c-3.48-2.235-7.61-3.538-12.05-3.538C9.993 4.608 0 14.598 0 26.922c0 12.32 9.99 22.312 22.313 22.312 1.128 0 2.237-.084 3.32-.246v26.747h56.032V48.987c1.083.162 2.192.246 3.32.246 12.32 0 22.31-9.99 22.31-22.312 0-12.322-9.99-22.313-22.31-22.313"/>
            <g>
              <path d="M143.375 7.177v18.05c0 3.052-1.01 5.406-3.026 7.063-2.02 1.657-4.66 2.485-7.924 2.485-3.25 0-5.877-.83-7.876-2.485s-3-4.01-3-7.063V7.177h5.476v18.036c0 1.792.48 3.133 1.44 4.023.958.89 2.278 1.334 3.96 1.334 1.706 0 3.046-.44 4.018-1.325s1.457-2.228 1.457-4.033V7.177h5.475zM158.622 28.815c0-.598-.29-1.115-.868-1.55-.58-.437-1.654-.823-3.224-1.16-2.392-.486-4.195-1.205-5.41-2.158-1.214-.953-1.82-2.25-1.82-3.896 0-1.743.73-3.223 2.194-4.437s3.423-1.822 5.877-1.822c2.58 0 4.632.605 6.158 1.813 1.525 1.208 2.258 2.734 2.195 4.578l-.037.113h-5.27c0-.81-.26-1.47-.775-1.98-.517-.51-1.273-.766-2.27-.766-.885 0-1.58.215-2.083.645-.505.43-.757.97-.757 1.616 0 .623.265 1.134.794 1.532.53.4 1.604.754 3.223 1.065 2.492.5 4.342 1.23 5.55 2.196s1.812 2.296 1.812 3.99c0 1.82-.78 3.304-2.337 4.457-1.557 1.152-3.612 1.73-6.166 1.73-2.69 0-4.817-.683-6.38-2.047-1.564-1.364-2.31-2.917-2.233-4.662l.037-.112h4.99c.037 1.083.392 1.87 1.064 2.354s1.55.73 2.635.73c1.008 0 1.777-.2 2.307-.6.53-.398.795-.94.795-1.625zM176.374 34.776c-2.915 0-5.244-.935-6.988-2.803-1.744-1.868-2.616-4.24-2.616-7.12v-.746c0-3.002.825-5.475 2.477-7.418 1.65-1.944 3.864-2.91 6.643-2.897 2.728 0 4.846.822 6.353 2.466 1.507 1.644 2.26 3.867 2.26 6.67v2.97h-12.07l-.036.112c.1 1.328.544 2.42 1.336 3.276.79.856 1.865 1.284 3.223 1.284 1.208 0 2.21-.12 3.01-.364.796-.243 1.668-.626 2.615-1.15l1.477 3.373c-.822.677-1.9 1.237-3.232 1.68-1.337.444-2.82.666-4.45.666zm-.485-16.78c-1.01 0-1.808.386-2.394 1.16-.585.77-.946 1.787-1.083 3.044l.056.094h6.688v-.486c0-1.16-.27-2.083-.812-2.775s-1.362-1.037-2.457-1.037zM204.775 7.177l6.933 20.05h.112l6.988-20.05h7.138v27.206h-5.456v-8.11l.523-12.014-.112-.02-7.286 20.143h-3.663l-7.25-20.068-.11.02.522 11.94v8.108h-5.456V7.177h7.12zM237.886 25.9l.225 1.122h.113l3.867-12.856h5.867l-8.202 23.245c-.573 1.446-1.353 2.664-2.336 3.654-.985.99-2.462 1.485-4.43 1.485-.46 0-.888-.04-1.28-.113-.392-.075-.868-.18-1.43-.317l.636-3.98c.162.025.337.05.523.075.186.025.354.037.504.037.896 0 1.588-.22 2.073-.663.486-.443.86-.995 1.122-1.655l.634-1.57-7.174-20.2h5.867l3.42 11.735zM130.333 64.125h-3.027v11.36h-5.456V48.28h5.456v11.117h2.373l7.212-11.118h6.67l-9.155 12.668 9.885 14.537h-6.652l-7.307-11.36zM151.858 50.428h-5.456v-4.092h5.456v4.092zm0 25.057h-5.456V55.268h5.456v20.217zM162.826 50.316v4.952h3.4v3.83h-3.4v10.296c0 .785.162 1.346.486 1.682.323.337.76.505 1.308.505.287 0 .533-.015.738-.046.206-.03.445-.084.72-.158l.467 3.942c-.548.187-1.084.327-1.606.42-.524.094-1.092.14-1.702.14-1.88 0-3.33-.516-4.344-1.55-1.016-1.034-1.523-2.672-1.523-4.915V59.098h-2.95v-3.83h2.95v-4.953h5.456zM178.187 71.674c.972 0 1.75-.282 2.335-.846.586-.563.88-1.315.88-2.257h4.95l.057.113c.048 2.043-.72 3.753-2.31 5.13-1.588 1.376-3.56 2.064-5.913 2.064-3.015 0-5.338-.953-6.97-2.86-1.632-1.904-2.448-4.353-2.448-7.342v-.56c0-2.98.812-5.426 2.437-7.345 1.626-1.918 3.945-2.877 6.96-2.877 2.492 0 4.5.71 6.026 2.13 1.526 1.42 2.264 3.29 2.215 5.605l-.038.112h-4.97c0-1.047-.287-1.916-.86-2.606-.572-.692-1.363-1.038-2.372-1.038-1.445 0-2.464.56-3.056 1.68-.592 1.12-.888 2.56-.888 4.327v.56c0 1.805.296 3.257.888 4.357s1.617 1.654 3.075 1.654zM194.835 57.828c.636-.922 1.414-1.64 2.336-2.158.923-.517 1.944-.775 3.065-.775 2.104 0 3.76.7 4.96 2.102S207 60.563 207 63.49v11.996h-5.457v-12.06c0-1.574-.277-2.69-.83-3.345-.556-.654-1.38-.982-2.478-.982-.747 0-1.407.134-1.98.403s-1.046.647-1.42 1.134v14.852h-5.456v-29.15h5.455v11.492zM220.06 75.878c-2.914 0-5.243-.935-6.987-2.803-1.744-1.87-2.616-4.242-2.616-7.12v-.747c0-3.002.825-5.475 2.477-7.418 1.65-1.943 3.864-2.908 6.643-2.896 2.728 0 4.846.822 6.353 2.466 1.507 1.645 2.26 3.868 2.26 6.67v2.972h-12.07l-.036.11c.1 1.33.544 2.42 1.336 3.277.79.854 1.865 1.283 3.223 1.283 1.208 0 2.21-.122 3.01-.364.796-.244 1.668-.627 2.615-1.15l1.476 3.37c-.822.677-1.9 1.237-3.232 1.682-1.337.443-2.82.666-4.45.666zm-.485-16.78c-1.01 0-1.807.386-2.393 1.16-.585.77-.946 1.786-1.083 3.045l.055.093h6.69v-.486c0-1.158-.272-2.084-.813-2.774-.542-.692-1.36-1.038-2.457-1.038zM236.354 55.268l.242 2.896c.673-1.034 1.5-1.837 2.485-2.41.985-.574 2.088-.86 3.31-.86 2.042 0 3.636.642 4.782 1.925 1.146 1.282 1.72 3.294 1.72 6.035v12.63h-5.476v-12.64c0-1.36-.273-2.326-.822-2.894-.548-.567-1.376-.852-2.484-.852-.723 0-1.37.147-1.943.44-.573.293-1.053.708-1.44 1.246v14.7h-5.455V55.27h5.082z"/>
            </g>
          </svg>
        </a>
        <ul id="nav-mobile" class="right">
          <% if logged_in? %>
          <li><a href="/users/<%=current_user.id%>">Hi <%= current_user.name.capitalize %>!</a></li>
          <li><a href="/kitchens/new">Add Kitchen</a></li>
          <li>
            <form action="/session" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete" />
              <button id="logout-btn">Log Out</button>
            </form>
          </li>
          <% else %>
          <li><a href="/session/new">Log In</a></li>
          <li><a href="/users/new">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h4>Use My Kitchen</h4>
            <p>A Project by Fiver</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h4>Important Stuff</h4>
            <ul>
              <li><a href="#!">Terms &amp; Privacy</a></li>
              <li><a href="#!">Why Host</a></li>
              <li><a href="#!">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">© 2016</div>
      </div>
    </footer>

  </body>

</html>
